{
    "log": {
        "loglevel": "warning"
    },
    "inbounds": [
        {
            "port": {{ vpsport }},
            "protocol": "vmess",
            "settings": {
                "clients": [
                    {
                        "id": "{{ uuid }}"
                    }
                ]
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom",
            "settings": {}
        }
    ]
}
